{% extends "base.html.twig" %}

{% block content %}

<main id="homepage">
    <section>
        <img src="../assets/img/home_background_league.png">
        <h2> TOUT SUR LA LEAGUE </h2>
        <p> Les players, les teams et l'actu des matchs </p>
    </section>
    <section>
        <h3> LA TEAM À LA UNE </h3>
    </section>
</main>

{% endblock %}