<<<<<<< HEAD


$yellow : #d4b52f;
$rose : #d97ab5;
=======
$blue : #45a0ec;
$purple : #9e87cb;
$yellow : #d4b52f;
$pink : #d97ab5;
$darkerGrey : #0b132b;
$white: #ffffff;
$grey : #83a1bb;
>>>>>>> bd30199 (league)
