{% extends "base.html.twig" %}

{% block title %}THE LEAGUE - Page non trouvée{% endblock %}

{% block content %}
<section class="section">
    <h1>404</h1>
    <h2>Page non trouvée</h2>
    <p>
        Désolé, la page que vous cherchez n'existe pas.
    </p>
    <a href="../index.php" class="btn">
        Retour à l'accueil
    </a>
</section>
{% endblock %}