<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>The League</title>
        <link rel="stylesheet" href="assets/styles/css/style.css">
    </head>
    <body>
        <h1> THE LEAGUE </h1>
        <header>
            <nav>
                <ul>
                    <li><a href=""> LES TEAMS </a></li>
                    <li><a href=""> LES PLAYERS </a></li>
                    <li><a href=""> LES MATCHS </a></li>
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock %}
    </body>
</html>