<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>The League</title>
        <link rel="stylesheet" href="assets/styles.css">
    </head>
    <body>
        <h1> The League </h1>
        {% block content %}
        {% endblock %}
    </body>
</html>